name: CI

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node_version: [12.x]
        action: [test, run lint]

    name: npm ${{ matrix.action }}

    steps:
    - uses: actions/checkout@v1
    - name: use Node.js ${{ matrix.node_version }} ${{ matrix.action }}
      uses: actions/setup-node@v1
      with:
        node_version: ${{ matrix.node_version }}

    - name: npm install, build, and ${{ matrix.action }}
      run: |
        npm ci
        npm run build --if-present
        npm ${{ matrix.action }}
      env:
        CI: true

  e2e_unittest:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node_version: [12.x]

    name: End to End Testing

    steps:
      - uses: actions/checkout@v1
      - name: use Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@v1
        with:
          node_version: ${{ matrix.node_version }}

      - name: npm install
        run: |
          npm ci
        env:
          CI: true

      - name: pip install
        run: |
          pip3 install -r e2e_test/requirements.txt

      - name: python unittest
        run: |
          python3 -m unittest tests.PasteMeEndToEndUnitTest
